.modalBackground {
    background-color: rgba(50, 50, 50, 0.6);
    width: 100vw;
    height: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;

    margin-top: -13px;
    /* align-items: center; */
}

.modalContainer {
    margin-top: 100px;
    background-color: #ffffff;
    height: fit-content;
    border-radius: 0.3rem;
    position: absolute;

    height: fit-content;
    width: auto;
}

.modalContainer > div:first-child {
    display: flex;
    flex-direction: row-reverse;
}
.modalContainer > div:first-child > button {
    position: absolute;
    left: 406px;
    top: 2px;
    color: #2b2b2b;
    font-size: 14pt;
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: none;
}

.modalBackground form {
    /* background-color: #2b2b2b; */
    border-radius: 0.3rem;
    color: #2b2b2b;
    height: fit-content;
    width: auto;
    padding: 40px;
    display: flex;
    font-size: 14pt;
    flex-direction: column;
    gap: 20px;
}

.inputDiv {
    /* background-color: aqua; */
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

form .inputDiv:nth-child(3) {
    /* background-color: red; */
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.inputDiv > label {
    flex: 1;
}

.inputDiv > select,
.inputDiv > input[type="text"],
.inputDiv > textarea {
    /* background-color: red; */
    border: 0.1rem solid #2b2b2b;
    border-radius: 0.2rem;
    width: 100%;
    flex: 2;
    padding: 5px;
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.btnContainer button {
    font-size: 12pt;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    background-color: #2b2b2b;
    color: white;
    border-radius: 0.3rem;
    border: none;
    padding: 5px;
}

.btnContainer button:first-child:hover {
    transition: 0.3s;
    background-color: #f83434;
}
/* .cancel {
    position: relative;
    left: 1px;
} */
