.projectBoard {
    /* width: 80vw; */
    /* background-color: #3498db; */
    margin: 40px 0px 0px 40px;
    /* padding: 10px; */
}

.columnsContainer {
    display: flex;
    /* justify-content: flex-start; */
    /* height: auto; */
    gap: 25px;
}

/* h1 {
    text-align: left;
} */

/* .navBar {
    display: flex;
    align-items: center;
    gap: 100px;
} */

.columnsContainer button {
    /* height: min-content; */
    width: 310px;
    height: 33px;
    /* width: 310px; */
    /* padding: 10px; */
    font-size: 14pt;
    background-color: #3498db;
    border-radius: 3px;
    border: none;
    color: white;
    /* width: 100% */
}
.columnsContainer button:hover {
    background-color: #2879b0;
}
.columnsContainer button:active {
    border: black solid thin;
}
