.AddTaskForm form {
    display: flex;
    width: auto;
    justify-content: space-between;
}
.AddTaskForm input[type="text"] {
    width: 100%;
    padding: 5px 10px;
}

.AddTaskForm button {
    cursor: pointer;
    width: min-content;
    padding: 5px 14px;
    font-size: 16pt;
    font-weight: 600;
    border: none;
    border-radius: 1.3rem;
    background-color: white;
    /* height: min-content;
    width: 30px; */
}

.AddTaskForm button:first-of-type:hover {
    /* font-weight: 900; */
    /* background-color: #f25f5c; */
}

.AddTaskForm button:last-of-type:hover {
    /* font-weight: 900; */
    /* background-color: #85d689; */
}
